//colors
$brand-primary: #4E7C98;
$brand-secondary: #53ADD0;
$material-primary: #00BCD4;
$material-accent: #FFC107;
$material-warn: #F44336;
$light-grey: #F2F2F2;
$light-med-grey: #E1E1E1;
$medium-grey: #BFBFBF;
$dark-grey: #7C7C7C;
$text-dark-grey: #5C5C5C;
$text-medium-grey: #828282;
$white: #FFFFFF;
$black: #000000;
$green: #008000;
$footer: #24465b;
$google-color: #DD4B39;
$facebook-color: #4C69BA;

$error: #d66767;
$success: #4ca864;

