<div fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="center center" fxFill="">
        <button mat-icon-button="" color="primary" (click)="recordScreen()">
            <mat-icon>desktop_windows</mat-icon>
        </button>
        <button mat-icon-button="" color="primary" (click)="recordCamera()">
            <mat-icon>camera</mat-icon>
        </button>
        <button mat-icon-button="" color="primary" (click)="stopCamera()">
            <mat-icon>stop</mat-icon>
        </button>
        <button mat-icon-button="" color="primary" (click)="stopScreen()">
            <mat-icon>stop</mat-icon>
        </button>
        <span>{{playTimeObservable | async}}</span>
    </div>
</div>

