<div fxLayout="row" fxLayoutAlign="space-between center">
    <video id="video" controls class="video-js" data-setup='{}'></video>
</div>
<div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="!disabled">
    <button mat-icon-button="" color="primary" (click)="recordDesktop()">
        <mat-icon class="colr-bs"  matTooltip="Record Desktop"><i class="material-icons">desktop_windows</i></mat-icon>
    </button>
    <button mat-icon-button="" color="primary" (click)="recordWindow()">
        <mat-icon class="colr-bs"  matTooltip="Record Window"><i class="material-icons">screen_share</i></mat-icon>
    </button>
    <button mat-icon-button="" color="primary" (click)="recordCamera()">
        <mat-icon class="colr-bs"  matTooltip="Record Camera"><i class="material-icons">camera</i></mat-icon>
    </button>
    <button mat-icon-button="" color="primary" (click)="playVideo()">
        <mat-icon class="colr-bs"  matTooltip="Play File"><i class="material-icons">play_circle_filled</i></mat-icon>
    </button>
    <button mat-icon-button="" color="primary" (click)="sysAudioCheck()">
        <mat-icon *ngIf="includeSysAudio" class="colr-bs"  matTooltip="Disable System Audio"><i class="material-icons">mic</i></mat-icon>
        <mat-icon *ngIf="!includeSysAudio" class="colr-bs"  matTooltip="Enable System Audio"><i class="material-icons">mic_off</i></mat-icon>
    </button>
    <button mat-icon-button="" color="primary" (click)="microAudioCheck()">
        <mat-icon *ngIf="includeMic" class="colr-bs"  matTooltip="Disable Camera Audio"><i class="material-icons">camera_enhance</i></mat-icon>
        <mat-icon *ngIf="!includeMic" class="colr-bs"  matTooltip="Enable Camera Audio"><i class="material-icons">perm_camera_mic</i></mat-icon>
    </button>
</div>
<div *ngIf="disabled || stopped" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-icon-button="" color="primary" (click)="stopRecording()" *ngIf="!stopped">
        <mat-icon class="colr-bs"  matTooltip="Stop Recording"><i class="material-icons">stop</i></mat-icon>
    </button>
    <button mat-icon-button="" color="primary" (click)="play()" *ngIf="stopped">
        <mat-icon class="colr-bs"  matTooltip="Play"><i class="material-icons">play_arrow</i></mat-icon>
    </button>
    <button mat-icon-button="" color="primary" (click)="download()" *ngIf="stopped">
        <mat-icon class="colr-bs"  matTooltip="Save"><i class="material-icons">save</i></mat-icon>
    </button>
</div>